body {
    width: 100vw;
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*  ___________________________________________________________HEADER________ */

header img {
    position: relative;
    width: 40vw;
    background-color: transparent;
    left: 1vw;
    top: 2vw;
    padding-bottom: 2vw;
}



/*  ___________________________________________________________TEXT________ */
h1 {
    display: none;
}


h3,
h2 {
    text-transform: capitalize;
    background-color: white;
    font-family: 'Courier Prime', monospace;
}



p {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: black;
}


img {
    width: 100%;
    background-color: white;
}



/*  ___________________________________________________________POPUP________ */
#detalje {}

.back {
    font-size: 1.3em;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 3vw;
    margin-top: 2vw;
    padding-left: 4.7vw;
    padding-right: 4.7vw;
    z-index: 999999999;
    font-family: 'Courier Prime', monospace;
    color: #868686;
    cursor: pointer;
    position: absolute;
    left: 6.5vw;
}


button:hover {
    text-decoration-line: underline;
    text-decoration-color: #c64545;
}

#popup {
    width: 80%;
    height: 70vh;
    background-color: white;
    padding: 3vw;
    margin: 0 auto;
    box-shadow: 1px 1px 5px #afafaf;
    margin-top: 4vw;
    margin-bottom: -30vw;
    position: relative;

    top: 2vw;
}


.popup_wrap div {
    background-color: white;
}

.popup_wrap {
    background-color: white;
}

/*  __________________________________________________FOOTER_____________________ */

footer {
    position: relative;
    bottom: -40vw;
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background-color: #c64545;

}

.footer_wrap {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
    background-color: #c64545;
}

footer div p {
    background-color: #c64545;
    color: white;
    font-family: 'Courier Prime', monospace;
    padding: 0.2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.3rem;
}

footer div {
    background-color: #c64545;
}

/*  __________________________________________________MEDIAQ 4 DESKTOP________ */

@media only screen and (min-width: 1068px) {


    header img {

        width: 30vw;

    }



    #popup {
        max-width: 1330px;
        height: 50vw;

    }



    .popup_wrap {
        display: flex;
    }

    .popup_wrap div {
        padding-right: 3vw;
    }



    .header_wrap_small {
        text-align: center;
        width: 1380px;
        display: flex;
        justify-content: flex-start;

    }


    .header_wrap_big {
        width: 100vw;
        display: flex;
        justify-content: center;
    }


    footer {
        height: 14vw;

    }


    footer div p {
        font-size: 1.4rem;

    }





    @media only screen and (min-width: 1500px) {

        header img {

            width: 27vw;

        }

        footer {
            padding: 0;
        }
    }
